@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Somos una empresa familiar de éxito internacional y tecnología innovadora, cuya sede está ubicada en la ciudad alemana de Gütersloh.

    Nuestros productos y servicios punteros nos han convertido en líder tecnológico en el mercado y en un socio fiable del sector de distribución de gas y agua. Nuestra experiencia de más de 85 años en el desarrollo de equipos de medición, así como los conocimientos obtenidos en la práctica por nuestros propios técnicos han contribuido significativamente a este éxito.

    En nuestra sede de Gütersloh, se desarrollan, diseñan, prueban y producen nuestros equipos innovadores hasta que estén listos para su comercialización. Nuestras principales prioridades son la alta calidad y la funcionalidad. La planta de producción de Alemania es un factor clave de nuestro éxito.
</p>
