@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Reconquista 1132<br />
    Capital Federal, C1001 CABA<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    011 4312-5559
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@fym.com">Support@fym.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fym.com">Marketing@fym.com</a>
</address>
